---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Astro Site</h1>
    <h2>About me</h2>
    <p>Im working on my astro website. this is the second page</p>
    <p>this website will update as i learn more about astro</p>
    <p>This is a test</p>
  </body>
</html>